name: Frontend CI/CD

on:
  push:
    branches: [ main ]
    # We removed the path filter for now to ensure this triggers

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build React App
        # We manually CD into frontend so we know exactly where we are
        run: |
          cd frontend
          npm install
          npm run build
        env:
          VITE_API_BASE_URL: ${{ secrets.PROD_API_URL }}

      - name: Deploy to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET_NAME }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'
          # This is the crucial line: it tells the robot the files are inside frontend/dist
          SOURCE_DIR: 'frontend/dist'